# Welcome to Serverless!
# Ref: docs.serverless.com

service: lambda-language-comparison
provider:
  name: aws
  logs:
    restApi: true
  region: ap-southeast-2
  iamRoleStatements:
    - Effect: Allow
      Action:
        - "dynamodb:*"
      Resource: "arn:aws:dynamodb:ap-southeast-2:*:table/LanguageTest/*"
    - Effect: Allow
      Action:
        - "dynamodb:*"
      Resource: "arn:aws:dynamodb:ap-southeast-2:*:table/LanguageTest"

package:
  individually: true

plugins:
  - serverless-domain-manager

functions:
  nodejs:
    runtime: nodejs12.x
    handler: node/handler
    package:
      exclude:
        - '.circleci/**'
        - 'java8/**'
        - 'java11/**'
        - '*.json'
        - '*.yml'
        - '*.md'
        - '*.iml'
        - '*.jar'
        - '*.js'
        - '*.config.js'
        - 'LICENSE'
        - '*.sh'
        - '.idea/**'
    events:
      - http:
          path: /node12
          method: get
  java8:
    runtime: java8
    package:
      artifact: java8/target/java8-dev.jar
    handler: com.mycodefu.Handler
    events:
      - http:
          path: /java8
          method: get
  java11:
    runtime: java11
    package:
      artifact: java11/target/java11-dev.jar
    handler: com.mycodefu.Handler
    events:
      - http:
          path: /java11
          method: get

custom:
  customDomain:
    domainName: api.mycodefu.com
    basePath: 'language-test'
    stage: ${self:provider.stage}

resources:
  Resources:
    QuotesDynamoTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: LanguageTest
        AttributeDefinitions:
          - AttributeName: TestGroup
            AttributeType: S
          - AttributeName: TestId
            AttributeType: S
          - AttributeName: ModifiedDateEpoch
            AttributeType: N
        KeySchema:
          - AttributeName: TestGroup
            KeyType: HASH
          - AttributeName: TestId
            KeyType: RANGE
        LocalSecondaryIndexes:
          - IndexName: date-modified-index
            KeySchema:
              - AttributeName: TestGroup
                KeyType: HASH
              - AttributeName: ModifiedDateEpoch
                KeyType: RANGE
            Projection:
              ProjectionType: KEYS_ONLY
        BillingMode: PAY_PER_REQUEST


